#user, #sortByDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#results {
  display: grid;
  grid-template-columns: auto 2rem 10rem;
  grid-gap: .3rem 1rem;
  justify-content: center;
}

svg {
  background-color: gainsboro;
}

rect {
  fill: red;
}
